.launerBoard {
	border: solid 1px #333;
	height: 200px;
}

.form-control {
	resize: none;
}

.col-xl-8 {
	background-color: #f4f4f4;
	border-radius: 10px;
	box-shadow:  15px 15px 47px #cfcfcf,
		-15px -15px 47px #ffffff;
}