$sideBarAniTime: 8s;

.side-bar-warper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 225px;

    a {
        color: inherit;
        text-decoration: none;
        &:hover, &:focus {
            color: inherit;
            text-decoration: none;
        }
    }
    
    @include mobile {
        display: none;
        z-index: 2000;
        background: rgba(0, 0, 0, 0.5);
        width: auto;
        right: 0;

        &.active {
            display: block;
            animation: 0.2s ease-in 0s 1 normal forwards running fade-in;
            .side-bar,.side-bar-footer {
                animation: 0.2s ease-in 0s 1 normal forwards running left-to-right;
            }
        }
        &.disable {
            display: block;
            opacity: 0;
            animation: 0.2s ease-in 0s 1 normal forwards running fade-out;
            .side-bar,.side-bar-footer {
                animation: 0.2s ease-in 0s 1 normal forwards running right-to-left-2;
            }
        }
    }

    .side-bar {
        background-color: #212529;
        color: rgba(255,255,255,0.5);
        position: absolute;
        width: 225px;
        top: 0;
        left: 0;
        bottom: 70px;
        ul.nav {
            display: block;
            padding: 0;
            margin: 0;
            list-style: none;
            li.nav-item{
                display: block;
                padding: 12px 0 12px 16px;
                font-size: 16px;    
                
                cursor: pointer;
                &:hover {
					>span {
                    color: #fff;
						
					}
                }
                /* 자식에 대한 표현 */
                &.has-child{
	                position: relative;
	                /* 우측화살표 */
	                &::after {
						content: "\f105";
						font-family: "Font Awesome 6 Free";
					    font-weight: 900;
					    position:absolute;
					    top: 12px;
					    right: 12px;
					    /* 우측화살표 복구 애니메이션 */
						transform: rotate(0);
						transition: transform $sideBarAniTime ease;
					}
					/* 자식nav의 숨김처리 */	
					>ul.nav{
						margin-top: 12px;
						//display:none;
						overflow: hidden;
					    max-height: 0; /* 최대높이0이고, 넘어갈시에 숨김 */
					    transition: max-height $sideBarAniTime ease-out; /* nav닫힘 애니메이션 */
					}
					/* nav 열림시에 나타나는 애니메이션 */
					&[is-open="true"], &:hover{
						&::after {
							transform: rotate(90deg);
    						transition: transform $sideBarAniTime ease;
						}
						>ul.nav{
							display:block;
						    max-height: 150px; /* ul.nav의 최대크기를 지정 */
						    transition: max-height $sideBarAniTime ease-in;
						}
					}
				}
                .nav-item-icon  {
                    margin-right: 8px;
                    color: rgba(255,255,255,0.25);
                }
            }
        }
    }
    .side-bar-footer{
        width: 225px;
        left: 0;
        bottom: 0;
        height: 70px;
        background-color: #343A40;
        color: rgba(255,255,255,0.5);
        padding: 12px;
        position: fixed;
        font-size: 16px;
        line-height: 24px;
        small {
            font-size: 0.875em;
        }
    }
}