@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}
html, body {
    font-weight: 400;
    -webkit-font-smoothing: auto;
    font-size: 12px;
    color: #666;
    background: rgb(244, 244, 244);
}
#check_wrap{
	width: 100%;
	background: rgb(244, 244, 244);
	display: block;
}
	.check_form {
		width: 80%;
		margin: auto;
		margin-top:30px;
	}
	#check_title h2{
		width: 100%;
		margin-bottom: 30px;
		font-size: 22px;
		text-align: center;
	}
	.check_form input[type="text"]{
		width: 140px;
		height: 2em;
		font-size: 13px; 
		text-indent:1em;
		border: 1px solid #DCDDE3;
		margin: 2px 5px 2px 0;
	}
	.check_form input[type="submit"], .check_form input[type="button"],	
	.check_form button{
		padding: 2px 10px;
		margin-right: 5px;
	    display: inline-block;
	    text-align: center;
	    border: 1px;
	    border-radius: 5px;
	    box-sizing: border-box;
	    background: #31363d;
	    font-weight: 700;
    	font-size: 13px;
    	color: #fff;
	    cursor: pointer;
	}
	.check_form input[type="submit"]:hover, .check_form input[type="button"]:hover	{
		background:#466391;
	}
	.check_form p{
		font-size:15px;
		margin-top:10px;
	}
	.check_form #certifyCode{
		width:120px;
	}
	.check_form #email{
		width:160px;
	}
	