@charset "UTF-8";
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, img {
    margin: 0;
    padding: 0;
}
html, body {
    font-weight: 400;
    -webkit-font-smoothing: auto;
    font-size: 12px;
    color: #666;
}
input, select, textarea {
    font-size: 100%;
    color: #353535;
    vertical-align: middle;
}

#findIdPwd_wrap{
	width: 100%;
	background: rgb(244, 244, 244);
	display: flex;
}
	
	#findIdPwd_wrap ul{
		font-size:15px;
	}
	#findIdPwd_wrap li{
		padding: 2px;
	}
	
	#findIdPwd_wrap .findIdPwdsubWrap {
		width: 800px;
		margin: auto;
		margin-top:70px;
	}
	
	
	#findIdPwd_wrap .titleArea {
		margin:0;
		text-align: center;
	}
	#findIdPwd_wrap .titleArea h2 {
	    text-align: center;
	    font-size: 34px;
	    color: #222;
	    margin-bottom: 100px;
	    font-weight: bold;
	    line-height: 20px;
	    cursor: pointer;
	}
	#findIdPwd_wrap .findIdPwdsubWrap {
		padding: 49px 0 39px;
		margin-left: auto;
    	margin-right: auto;
    	color: #404040;
	}
	.findIdPwdsubWrap #findIdPwdbox{
	    width: 375px;
    	margin: 0 auto;
	}
	#findIdPwdbox p{
		margin: 10px 0 0;
	}
	
	#findIdPwdbox strong{
		display: inline-block;
	    margin: 0 0 5px;
	    padding: 0 4px 0 4px;
	    width: 125px;
    	font-weight: normal;
	}
	#findIdPwdbox input[type=text], #findIdPwdbox input[type=password]{
		height: 28px;
    	line-height: 28px;
    	padding: 2px 4px;
	    border: 1px solid #ebebeb;
	    font-size: 12px;
	}
	#findIdPwdbox .memberType select{
		width: 222px;
    	height: 34px;
    	padding: 0 4px;
    	border: 0;
	}
	#findIdPwdbox .checkRadio input[type=radio]{
		width: 13px;
    	height: 13px;
    	border: 0;
	}
	#findIdPwdbox .checkRadio input[type=radio] + label{
		margin: 0 15px 0 2px;
	}
	
	#findIdPwdbox #name{
		width: 222px;
	}
	
	#findIdPwdbox #hp{
		width: 222px;
	}
	#findIdPwdbox #email{
		width: 222px;
	}
	
	#findIdPwdbox .findIdPwdBtnWrap{
		padding: 40px 0 10px;
	}
	.findIdPwdBtnWrap .findIdPwdBtn{
		padding: 0;
	    display: inline-block;
	    width: 100%;
	    height: 45px;
	    line-height: 45px;
	    text-align: center;
	    border: 1px;
	    border-radius: 5px;
	    box-sizing: border-box;
	    background: #31363d;
	    font-weight: 700;
    	font-size: 15px;
    	color: #fff;
	    cursor: pointer;
	}
	
	/*아이디찾기 모달*/	
	#modal-wrap{
		width:100%;
		margin: 0 auto;
	  	background-color:rgba(0,0,0,.3);
		justify-content:center;
		align-items:center;
		position:fixed;
		top:0;
		left:0;
		right:0;
		bottom:0;
		display:none;
		padding:15px;
		opacity: 0;
	}
	.findId-modal{
		width:100%;
		max-width:400px;
		border-radius:10px;
		overflow:hidden;
		background-color:#31363d;
		box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
	}
	.modal-head{
		width:100%;
		height:50px;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	.head-title {
	    font-size: 38px;
	    font-weight: 700;
	    color: #fff;
	    letter-spacing: -3px;
	    text-align: center;
	}
	.modal-body{
		width:100%;
		background-color:#fff;
	}
	.body-content{
		padding:30px 0 30px 0;
	}
	.modalhead {padding: 10px 0;}
	.body-titlebox{
		text-align:center;
		width:100%;
		height:40px;
		margin-bottom:10px;
	}
	.body-title{
		font-size: 25px;
		font-weight: 600;
		text-align: center;
	}
	.body-contentbox{
		font-size: 18px;
		font-weight: 500;
		text-align: center;
	}
	.modal-foot{
		width:100%;
		height:50px;
	}
	.modal-btn{
		display:inline-flex;
		width:49%;
		height:100%;
		float:left;
		justify-content:center;
		align-items:center;
		color:#fff;
		cursor:pointer;
	}
	.modal-btn.confirm{
		border-right:1px solid #fff;;
	}