@charset "UTF-8";
#userfooterWrap{
	width:100%;
	height:195px;
	clear: both;
    padding: 50px 0 0 0;
    color: #939496;
    border-top: 1px solid #ebebeb;
    min-width: 1200px;
    background-color: #404144;
}
#userfooterWrap .userfooterSubwrap{
	max-width: 1100px;
   	margin: 0 auto;
}

	#userFooter .userFooterLeft{
		position: relative;
	    display: inline-block;
	    margin: 0 -5px 0 0;
	    vertical-align: middle;
	    padding-right: 88px;
	}
	#userFooter .userFooterLeft:after {
	    content: '';
	    width: 1px;
	    height: 100%;
	    background-color: #4e4f52;
	    position: absolute;
	    top: 0;
	    right: 0;
	}
	
	#userFooterMenu{
		padding-bottom: 20px;
	}
	#userFooterMenu a {
	    padding-right: 15px;
	    color: #939496;
	    font-size: 11px;
	}
	
	#userFooterCompany {
	    font-size: 10px;
	    line-height: 16px;
	}
	#userFooterCompany .line {
    	padding: 0 5px 0 5px;
	}
	
	#userFooter .userFooterRight{
	    position: relative;
    	display: inline-block;
    	vertical-align: middle;
	}
	#userFooterBox {
		padding-left: 88px;
		display: inline-block;
    	vertical-align: top;
	}
	#userFooterBox .title{
		font-size: 15px;
	}
	#userFooterBox .Tel{
		margin:2px 0 25px 0;
	    font-size: 18px;
	    font-weight: 300;
	}
	
	#userFooterInfo {
		display: inline-block;
    	vertical-align: top;
	}
	#userFooterInfo p{
		margin-bottom:2px;
	}
	#userFooterInfo:last-child {
    	padding-left: 45px;
	}
