/*
비밀번호 변경 페이지
*/
&{ 
	margin: 0 auto;
    width: 1200px;
	}
body {
  background: #f5f6f7;
}

#editPwd_top{
  width: 100%;
  height: 120px;
}


#editPwd_content {
  width: 460px;
  margin:0 auto;
}
#editPwd_sub{
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 50px;
}
#editPwd_explain{
	margin-left: 50px;
	margin-bottom: 50px;
}
#editPwd_explain li{
	margin-bottom: 7px;
}
#editPwd_explain li span{
	color: red;
}


/* 입력폼 */


h3 {
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}


.editPwd_box {
  display: block;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  position: relative;
  border-radius: 7px;
}

.editPwd_int {
  display: block;
  position: relative;
  width: 100%;
  height: 29px;
  border: none;
  font-size: 15px;
}


.editPwd_box.int_pass {
  padding-right: 40px;
}



.pswdImg {
  width: 18px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -10px;
  cursor: pointer;
}



/* 에러메세지 */

.error_next_box {
  margin-top: 9px;
  font-size: 12px;
  color: red;
}

#editPwd_alertTxt {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
  display: none;
}
#editPwd_alertTxt2 {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
}
#editPwd_alertTxt3 {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
}


.editPwd_btn_area {
  margin: 30px 0 91px;
}

#btneditPwd {
   width: 100%;
  padding: 21px 0 17px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #849EC2;
  font-size: 20px;
  font-weight: 400;
  border-radius: 7px;
}
