/*
마이 페이지 메인
*/
&{
	width: 1200px;
	margin: 0 auto;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');
@keyframes anime_textup { 0% { top: 0; } 20% { top: -0.4rem; } 40% { top: 0 } 60% { top: 0 } 80% { top: 0 } 100% { top: 0 } }
	body {
		-ms-user-select: none;
		-moz-user-select: -moz-none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
	}
 .clearfix::after, .clearfix::before {content: ""; display: block; line-height: 0;}
 .clearfix::after {clear: both;}
 a{color:#000; text-decoration: none;}
 a:hover{color:#000}
.mypage_top{
	width:100%;
	height:150px;
}



.mypage_introduce {
	margin-bottom: 80px;
	font-weight: bold;
	font-size: 40px;
	float: left;
}

.mypage_introduce span {
	font-weight: bold;
	font-size: 30px;
	position: relative;
	animation: anime_textup 1.5s infinite;
}

.mypage_introduce span:nth-of-type(1) {
	animation-delay: .1s;
}

.mypage_introduce span:nth-of-type(2) {
	animation-delay: .2s;
}

.mypage_introduce span:nth-of-type(3) {
	animation-delay: .3s;
}

.mypage_introduce span:nth-of-type(4) {
	animation-delay: .4s;
}

.mypage_introduce span:nth-of-type(5) {
	animation-delay: .5s;
}

.mypage_introduce span:nth-of-type(6) {
	animation-delay: .6s;
}

.mypage_introduce span:nth-of-type(7) {
	animation-delay: .7s;
}

.mypage_logout_btn {
	text-align: center;
}

.mypage_nav {
	margin-bottom: 40px;
	font-weight: bold;
}
#mypage-main-wrap {
	width: 100%;
	height: 350px;
}
 #mypage-text-wrap .part{
	 float: left;
	 width: 350px;
	 margin-left: 75px;
	 text-align: center;
	 line-height: 40px;
	 font-size: 30px;
	 margin-top: 40px;
	 position: relative;
	 margin-bottom: 100px;
	 z-index: 30;
 }#mypage-text-wrap .part:nth-child(1){margin-left: 0}
 #mypage-main-wrap .part{
	 width: 350px;
	 height: 100%;
	 float: left;
	 margin-left: 75px;
	 border-radius: 56px;
	 background: #ffffff;
	 box-shadow:  17px 17px 51px #d9d9d9,
	 -17px -17px 51px #ffffff;
	 text-align: center;
	 font-size: 58pt;
	 position: relative;
	 overflow: hidden;

	 a{
		 display: block;
		 position: relative;
		 z-index: 10;
		 i{line-height: 350px;}
	 }
 }
 #mypage-main-wrap .part:nth-child(1){margin-left: 0}

 #mypage-main-wrap .hover-wrap{
	 width: 0;
	 height: 0;
	 position: absolute;
	 background: #466391;
	 bottom: -100%;
	 right: -100%;
	 border-radius: 100%;
	 z-index: -1;
 }
 .event-box{
		width: 100%;
		height: 100%;
		position:absolute;
		z-index: 100;
		left:0;
		right: 0;
	}
	
	.mypage_container1 {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 70px;
	width: 370px;
    float: left;
    margin-left: 180px;
    text-align: center;
}
.mypage_table1 li {
	border-radius: 10px;
	padding: 25px 30px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
}
.mypage_table1-row {
	background-color: #ffffff;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
	font-size: 18px;
	font-weight: bold;
}
.mypage_col1-1 {
	flex-basis: 100%;
}

.mypage_col1-1 span{
	margin-left: 10px;
	margin-right: 10px;
}

.mypageDate{
	font-size: 35px;
	font-weight: bold;
	color: #466391;
	letter-spacing: 2px;
  background-image: -webkit-linear-gradient(92deg, #466391, #FFF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: mypageDate 10s infinite linear;
}
@-webkit-keyframes mypageDate {
  from {
    -webkit-filter: mypageDate-rotate(0deg);
  }
  to {
    -webkit-filter: mypageDate-rotate(-360deg);
  }
}


