/*
회원 탈퇴완료 페이지
*/

	&{
		margin: 0 auto;
    	width: 1200px;
	}
	.signOut-top{
		height:200px;	
		width:100%;
	}
	.signOut_explain{
		height:auto;
		font-size:20px;
		margin-left:150px;
		margin-right:150px;
		margin-bottom:70px;
		font-weight: bold;
	}
	.signOut-title{
		margin-left: 150px;
		margin-bottom: 60px;
		font-size:40px;
		font-weight: bold;
	}
	.signOut_btn{
		text-align: center;
		margin-bottom: 	200px;
		}