/*
회원 정보 수정 페이지
*/

@at-root body{
	background:white;
}
#useredit_top{
  width: 100%;
  height: 120px;
}

#useredit_content {
  width: 460px;
  margin:0 auto;
}
#useredit_sub{
  font-weight: bold;
  font-size: 30px;
  margin-left: 50px;
  margin-bottom: 50px;
}



/* 입력폼 */


h3 {
  margin: 19px 0 8px;
  font-size: 14px;
  font-weight: 700;
}


.box {
  display: block;
  width: 100%;
  height: 51px;
  border: solid 1px #dadada;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  position: relative;
  border-radius: 7px;
  margin-bottom: 7px;
  
}

.int {
  display: block;
  position: relative;
  width: 100%;
  height: 29px;
  border: none;
  font-size: 15px;
  color:black;
}


.box.int_pass {
  padding-right: 40px;
}



.pswdImg {
  width: 18px;
  height: 20px;
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 16px;
  margin-top: -10px;
  cursor: pointer;
}



/* 에러메세지 */

.error_next_box {
  margin-top: 9px;
  font-size: 13px;
  color: red;
  margin-left: 5px;
}

#alertTxt {
  position: absolute;
  top: 19px;
  right: 38px;
  font-size: 12px;
  color: red;
  display: none;
}

.useredit_btn_area {
 	margin-top: 30px;
 	padding-bottom: 60px;
}

#btnuseredit {
  width: 100%;
  padding: 21px 0 17px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #849EC2;
  font-size: 20px;
  font-weight: 400;
  border-radius: 7px;
}

#btnZipcode{
	border: solid 1px #dadada;
    margin-left: 15px;
    border-radius: 3px;
}
.accountNumber_sub{
	font-size: 12px;
	color: gray;
}
select{
	height:51px;
	margin-right: 5px;
	border-radius: 3px;
}

.officeBtnArea{
	display: inline-block;
}

#modal-wrap{
	width:100%;
  	background-color:rgba(0,0,0,.3);
	justify-content:center;
	align-items:center;
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: 999;
	display:none;
	padding:15px;
	opacity: 1;
	}
	
	.office-modal{
		width:100%;
		max-width:700px;
		border-radius:10px;
		overflow:hidden;
		background-color:#31363d;
		box-shadow: 5px 10px 10px 1px rgba(0,0,0,.3);
		position:absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.modal-head{
		width:100%;
		height:50px;
		display:flex;
		align-items:center;
		justify-content:center;
	}
	.head-title {
	    font-size: 38px;
	    font-weight: 700;
	    color: #fff;
	    letter-spacing: -3px;
	    text-align: center;
	}
	.modal-body{
		width:100%;
		background-color:#fff;
	}
	.body-content{
		padding:30px 0 30px 0;
	}
	.modalhead {padding: 10px 0;}
	.body-titlebox{
		text-align:center;
		width:100%;
		height:40px;
		margin-bottom:10px;
	}
	.body-title{
		font-size: 25px;
		font-weight: 600;
		text-align: center;
	}
	.modal-foot{
		width:100%;
		height:50px;
	}
	#confirmBtn{
		display:inline-flex;
		width:100%;
		height:100%;
		justify-content:center;
		align-items:center;
		color:#fff;
		cursor:pointer;
	}
	
	.officelist{
		text-align:center;
	}
	.officelist li {
		width:110px;
		display:inline-block;
		padding: 10px 5px 10px 0;
		cursor:pointer;
		font-size:20px;
		font-weight: 550;
	}
	.officelist li:hover {
		color:#466391;
	}
	.officelist .on a{
		color:#466391;
	}
