@charset "UTF-8";
@import "../../css/reset.css";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;500;700&display=swap');

body {
    font-family: 'Noto Sans KR', sans-serif;
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    overflow-y: hidden;
}
a {color: #000; text-decoration: none;}
.clearfix::after, .clearfix::before {content: ""; display: block; line-height: 0;}
.clearfix::after {clear: both;}

button{
    background: inherit ;
    border:none;
    box-shadow:none;
    border-radius:0;
    padding:0;
    overflow:visible;
    cursor:pointer;
}
.title-font{font-size: 38px; font-weight: 500;}
.sub-title-font{font-size: 32px; font-weight: 500;}

.main-width {
    width: 100%;
    max-width: 719px;
    margin: 0 auto;
}

#wrap {
    width: 100%;
    height: 100vh;
    position: relative;
}

#header-wrap{
    height: 50px;
    background: #fff;
    font-size: 24px;
    position:fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    box-shadow:  0 0 50px rgba(0, 0, 0, 0.2),
        -34px 34px 50px rgba(0, 0, 0, 0.03);
}
#header-wrap .menu-btn{
    width: 24px;
    height: 30px;
    padding: 13px 0;
    line-height: 30px;
    text-align: center;
    margin-left: 10px;
}
#header-wrap a {color: #000;}

#logo {
    height: 100%;
    line-height: 40px;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}
#logo img{height: 40px;}

#map{
    width: 100%;
    height: 100%;
}

#list-part{
    width: 100%;
    height: 50%;
    background: #fff;
    position: fixed;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    z-index: 10;
    border-radius: 40px 40px 0 0;
    box-shadow:  0 -34px 50px rgba(0, 0, 0, 0.2),
    -34px 34px 50px #ffffff;
}

#list-box {
    width: 100%;
    padding: 23px;
    cursor: grab;
}
#list-box > .line{
    width: 55%;
    height: 2px;
    background: #f2f2f2;
    margin: 0 auto;
}


#order-tab-box{
    display: flex;
    width: 100%;
    height: 50px;
    line-height: 50px;
    justify-content: center;
    font-size: 24px;
}
#order-tab-box > div{
    width: 48%;
    height: 100%;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    color: #767676;
}
#order-tab-box > div.on{color:#000;}
#order-tab-box > div:hover{
    background: rgba(0, 0, 0, 0.05);
}

#orders-list{
    width: 100%;
    box-sizing: border-box;
    padding: 20px 2%;
}
#orders-list .order-box{
    line-height: 180%;
    font-size: 20px;
    border-radius: 20px;
    background: #f2f2f2;
    box-sizing: border-box;
    padding: 10px 20px;
    margin-top: 15px;
}
#orders-list .order-box:nth-child(1){margin-top: 0;}

#orders-list h3{
    font-size: 22px;
    margin-bottom: 10px;
    width: 100%;
}

#orders-list .order-text-list p{
    color: #888888;
    display: inline-block;
    margin-left: 20px;
}
#orders-list .order-text-list p:nth-child(1){margin-left: 0;}
#orders-list p strong{
    color: #000;
}

#orders-list .order-text-box {
    display: flex;
    justify-content: space-between;
}
#orders-list .order-text-box button{
    padding: 0 16px;
    height: 100%;
    background: #E68B27;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
}
#orders-list .order-text-box button:active{
    background: #d2832e;
}




/*#list-part .line{*/
/*    width: 50%;*/
/*    height: 1px;*/
/*    background: #ddd;*/
/*    margin:0 auto;*/
/*    padding: 20px 0;*/
/*    cursor: pointer;*/
/*}*/