@at-root body {
  background: #F4F4F4;
}

& {
  width: $webWidth;
  margin: 0 auto;
  min-height: 680px;
  /* input 기본 스타일 초기화 */
  input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;

    &:focus {
      outline: none
    }

    &::-ms-clear {
      display: none;
    }

    &[type='number'] {
      &::-webkit-outer-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }

  /* Select box 스타일 초기화 */
  select {
    /*
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;*/
    border: none;
    padding: 0;

    &:focus {
      outline: none;
    }

    &::-ms-expand {
      display: none;
    }
  }

  button {
    background: inherit;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding: 0;
    overflow: visible;
    cursor: pointer
  }
}

.board-wrap {
  display: flex;
  margin-top: 30px;

  .board-title-component {
    width: 30%;

    h1 {
      font-size: $superBigFontSize;
      font-weight: bold;
      height: 50px;
    }

    .sub-part {
      h2 {
        font-size: 14px;
        opacity: .8;
      }

      .user-name {
        font-size: $bigFontSize;
        margin-top: 14px;
      }

      margin-top: 20px;
      width: 60%;
      padding: 20px;
      font-size: $bigFontSize;
      border-radius: $card-bar-radius;
      background: #546484;
      color: #fff;
      position: relative;
      z-index: 11;
    }

    .paging-part {
      width: 100%;
      margin-top: 50px;
      display: flex;
      justify-content: space-between;

      .paging-num {
        width: 30%;
        height: 0;
        padding-top: 30%;
        background: #f4f4f4;
        border-radius: 100%;
        box-shadow: 28px 28px 56px #e0e0e0,
        -28px -28px 56px #ffffff;
        position: relative;

        span {
          display: block;
          position: absolute;
          top: 47%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 50px;
          font-weight: 600;
          color: #4d4d4d;
        }
      }


      .paging-list {
        width: 58%;

        .paging-btn {
          button {
            width: 26%;
            padding: 20px 0;
            background: #dadada;
            font-size: $bigFontSize;

            &:nth-child(1) {
              border-radius: $card-bar-radius 0 0 $card-bar-radius
            }

            &:nth-child(2) {
              border-radius: 0 $card-bar-radius $card-bar-radius 0
            }

            &:hover {
              background: #b6b6b6;
            }
          }
        }

        .page-list {
          margin-top: 20px;
          border-radius: 10px;
          background: #F9F8FC;
          width: 70%;
          display: flex;
          overflow: hidden;

          button, span {
            display: block;
            padding: 10px 5px;
            flex-grow: 1;

            &.on {
              cursor: default;
              background: #c2c2c9;
            }
          }

          button.on {
            cursor: default;
            background: #c2c2c9;
          }

          span.on {
            opacity: 0;
          }
        }
      }
    }
  }
}

.board-list-component {
  width: 70%;
  @keyframes dropdown {
    0% {
      //transform: scaleY(0);
      margin-top: 20px;
      height: 0;
    }
    100% {
      //transform: scaleY(100%);
      height: 672px;
    }
  }
  @keyframes dropUp {
    0% {
      //transform: scaleY(100%);
      height: 672px;
    }
    100% {
      //transform: scaleY(0);
      margin-top: 20px;
      padding: 0 20px;
      height: 0;
    }
  }

  .detail-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 200;
    left: 0;
    top: 0;

    .modal-background {
      width: 100%;
      height: 100%;
      background: rgba(255, 255, 255, .6);
      position: fixed;
      overflow: hidden;

      &.on {
        animation: fadein .3s;
        animation-fill-mode: forwards;
      }

      &.out {
        animation: fadeout .3s;
        animation-delay: .34s;
        animation-fill-mode: forwards;
      }
    }

    @keyframes fadein {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes fadeout {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }


    @keyframes fadeUp {
      from {
        top: 100%;
      }
      to {
        top: 0;
      }
    }
    @keyframes fadeDown {
      from {
        top: 0;
      }
      to {
        top: 100%;
      }
    }

    @keyframes fullpage {
      from {
        width: $webWidth;
        height: 90vh;
      }
      to {
        width: 100%;
        height: 100%;
      }
    }
    @keyframes smallpage {
      from {
        width: 100%;
        height: 100%;
      }
      to {
        width: $webWidth;
        height: 90vh;
      }
    }

    .modal-wrap {
      width: 100%;
      height: 100%;
      top: 100%;
      position: fixed;

      &.on {
        animation: fadeUp .3s ease;
        animation-delay: .3s;
        animation-fill-mode: forwards;
      }

      &.out {
        animation: fadeDown .3s ease;
        animation-fill-mode: forwards;
      }

      .modal-part {
        width: $webWidth;
        height: 90vh;
        background: #fff;
        border-radius: $card-bar-radius;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 20px 20px 60px rgba(40, 40, 40, 0.08),
        -20px -20px 60px rgba(0, 0, 0, 0.05);
        overflow: hidden;

        &.smallPage {
          animation: .3s smallpage ease;
          animation-fill-mode: forwards;
        }

        &.fullPage {
          animation: .3s fullpage ease;
          animation-fill-mode: forwards;
        }


        header {
          width: 100%;
          padding: 10px 15px;
          background: rgb(232, 234, 237);
          display: flex;

          button {
            display: block;

            &:nth-child(1) {
              color: #D6080C
            }

            &:nth-child(2) {
              color: #1CBC9C;
              margin-left: 7px
            }
          }
        }

        .modal-scroll {
          width: 100%;
          height: calc(90vh - 36px);
          overflow-y: auto;

          &.on {
            height: calc(100vh - 36px);
          }
        }

        .main-part {
          width: 800px;
          margin: 0 auto;
          box-sizing: border-box;
          padding: 20px 15px 0 15px;
        }
      }
    }
  }


  .board-add-component {
    width: calc(100% - 40px);
    //height: 500px;
    //height: auto;
    background: #e3e3e3;
    border-radius: $card-bar-radius 0 $card-bar-radius $card-bar-radius;
    margin-top: 20px;
    padding: 20px 20px;
    transform-origin: left top;
    box-sizing: content-box;
    overflow: hidden;

    &.dropdown {
      animation: .5s ease dropdown;
    }

    &.dropUp {
      animation: 0.5s ease dropUp;
    }

    input[name=title] {
      display: block;
      width: 100%;
      height: 40px;
      padding: 5px 10px;
      line-height: 30px;
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .file-box {
      .upload-name {
        display: block;
        height: 40px;
        padding: 0 10px;
        vertical-align: middle;
        border: 1px solid #dddddd;
        width: 78%;
        color: #999999;
      }

      label {
        display: inline-block;
        padding: 10px 20px;
        color: #fff;
        vertical-align: middle;
        background-color: #999999;
        cursor: pointer;
        height: 40px;
        margin-left: 10px;
      }

      input[type="file"] {
        position: absolute;
        width: 0;
        height: 0;
        padding: 0;
        overflow: hidden;
        border: 0;
      }
    }

    div.ql-snow {
      border: none;
    }

    form {
      & > span {
        display: block;
        margin-top: 20px
      }
    }

    button[type=submit] {
      width: 100%;
      background: #DF6030;
      margin-top: 20px;
      font-size: $superBigFontSize;
      color: #fff;
      border-radius: 8px;
      padding: 5px 0;

      &:active {
        background: #a14522;
      }
    }
  }

  .title-wrap {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;

    .add-btn {
      width: 6%;
      height: 100%;

      button {
        width: 100%;
        height: 100%;
        text-align: center;
        display: block;
        line-height: 50px;
        border-radius: $card-bar-radius;
        transition: .2s;

        &.on {
          border-radius: $card-bar-radius $card-bar-radius 0 0;
          height: calc(100% + 20px);
          background: #e3e3e3;

          i {
            transition: 0.2s;
            transform: rotate(45deg);
          }
        }

        &:hover {
          background: #e3e3e3;
        }
      }
    }

    .search-part {
      width: 92%;
      height: 100%;
      line-height: 30px;
      padding: 10px 20px;
      display: flex;
      justify-content: space-between;
      background: #fff;
      border-radius: $card-bar-radius;
      //box-shadow: 5px 5px 41px #e3e3e3,
      //  -5px -5px 41px #ffffff;
      box-shadow: 0 0 3rem 0 rgba(43, 86, 112, .1);;

      h2 {
        font-size: $bigFontSize;
      }

      form {
        display: flex;
        width: 60%;
      }

      input, select, button {
        display: block;
        background: none;
      }

      input, button {
      }

      select {
        width: 18%;
      }

      input {
        width: 65%;
        margin-left: 10%;
      }

      button {
        width: 7%;
      }
    }
  }


  .list-part {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 50px;
    border-radius: $card-bar-radius;
    background: #fff;
    position: relative;
    z-index: 11;
    transition: .2s;

    form > div {
      display: flex;
      justify-content: space-between;
      text-align: center;

      .list-col-1 {
        width: 10%;
      }

      .list-col-2 {
        width: 35%;
      }

      .list-col-3 {
        width: 20%;
      }

      .list-col-4 {
        width: 15%;
      }

      .list-col-5 {
        width: 15%;
      }

      &:last-child {
        border: none;
      }
    }

    .list-title {
      color: #505867;
      border-bottom: 1px solid #d9d9d9;
      font-size: 18px;
      padding: 15px 20px;
    }

    .list-line {
      padding: 15px 20px;
      border-bottom: 1px solid #f1f1f1;
      transition: .1s;

      &:hover {
        background: rgba(0, 0, 0, 0.01);
      }

      .list-col-2 {
        text-align: left;
      }
    }

  }

  #board-detail-wrap {
    width: 100%;

    .file-down-part {
      width: 100%;
      padding: 5px 6px;
      border: 1px solid rgb(232, 234, 237);
      margin-top: 15px;
      display: flex;

      .file-down {
        padding: 3px 8px;
        background: rgb(243, 243, 243);
        margin-left: 5px;
        display: block;

        &:nth-child(1) {
          margin-left: 0
        }

        h3 {
          font-size: $middleFontSize;
          margin-bottom: 5px;
        }
      }

      /*form{
        margin-left: 5px;
        display: block;
        &:nth-child(1){margin-left: 0}
        .file-down{
          padding: 3px 8px;
          background: rgb(243, 243, 243);
          h3{
            font-size: $middleFontSize;
            margin-bottom: 5px;
          }

        }
      }*/
    }

    .title-line {
      .title {
        font-size: $superBigFontSize;

        input {
          display: block;
          width: 500px;
          border: 1px solid #ccc;
          padding: 0 10px;
        }
      }

      .title-sub {
        margin-top: 15px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .user-info {
          #name {
            font-weight: $middleFontSize;
          }

          #regdate {
            margin-top: 7px;
            background: rgb(232, 234, 237);
            border-radius: 5px;
            padding: 3px 6px;
            display: inline-block;
          }

          #viewCount {
            padding: 3px 6px;
            display: inline-block;
          }
        }

        .board-controll-btn {
          button {
            padding: 0 20px;
            height: 100%;
            background: #fff;
            border-radius: 15px;
            box-shadow: 5px 5px 10px #f2f2f2;
            position: relative;

            &:nth-child(1) {
              background: #fff;
            }

            &.delete-btn {
              background: #CC2C2D;
              margin-left: 15px;
              color: #fff;
            }

            &.update-btn {
              background: #F0A117;
              margin-left: 15px;
              color: #fff;
            }

            &:hover {
              top: -2px;
            }
          }

        }
      }


      .upload-name {
        display: block;
        margin-top: 15px;
      }
    }

    .content-wrap {
      margin-top: 40px;
      overflow: hidden;
      line-height: 150%;
      > div {
        strong {
          font-weight: 600
        }

        h1 {
          font-size: 2em;
          line-height: 150%;
        }

        h2 {
          font-size: 1.5em;
          line-height: 120%;
        }

        em {
          font-style: italic;
        }

        blockquote {
          border-left: 4px solid #ccc;
          margin-bottom: 5px;
          margin-top: 5px;
          padding-left: 16px;
        }

         a {
          color: #06c;
           text-decoration: underline;
        }

        .ql-indent-1 {
          padding-left: 3em;
        }

        .ql-indent-2 {
          padding-left: 6em;
        }

        .ql-indent-3 {
          padding-left: 9em;
        }

        .ql-indent-4 {
          padding-left: 12em;
        }

        .ql-indent-5 {
          padding-left: 15em;
        }

        .ql-indent-6 {
          padding-left: 18em;
        }

        .ql-indent-7 {
          padding-left: 21em;
        }

        .ql-indent-8 {
          padding-left: 24em;
        }

        .ql-align-center {
          text-align: center;
        }
        .ql-align-right {
          text-align: right;
        }
        .ql-align-justify {
          text-align: justify;
        }
      }
      img {
        max-width: 100%;
        margin: 10px 0;
      }
    }
  }
}

input#file-upload-button {
  background: red;
}


#reply-component {
  width: 100%;
  padding: 15px 20px 20px 20px;
  height: auto;
  border-radius: $card-bar-radius;
  //background: #E4E4EC;
  background: #fff;
  box-shadow: 20px 20px 60px #d9d9d9,
  -20px -20px 60px #ffffff;
  margin: 30px 0;

  .comment-list-part {
    margin-top: 20px;
  }

  .title {
    font-size: $middleFontSize;
    margin-bottom: 10px;
    font-weight: 600;
    color: #8d8da1;
  }

  .input {
    width: 100%;
    margin: 10px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    padding: 0;

    &:focus {
      outline: none
    }

    &::-ms-clear {
      display: none;
    }

    &[type='number'] {
      &::-webkit-outer-spin-button,
      &::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }
  }

  input {
    width: 100%;
    padding: 5px 5px;
    border-radius: 10px;

  }

  .comment-input-part {
    @keyframes reply-dropdown {
      0% {
        height: 0;
      }
      100% {
        height: 84px;
      }
    }
    @keyframes reply-dropup {
      0% {
        height: 84px;
      }
      100% {
        height: 0;
        opacity: 0;
        margin-top: 0px;
      }
    }


    width: 100%;
    height: initial;
    background: #fff;
    border-radius: $card-bar-radius;
    margin-top: 20px;
    display: flex;
    overflow: hidden;
    border: 1px solid #8D8DA1;
    box-sizing: border-box;
    &.reply {
      padding-left:60px;
    }
    &.reply-dropDown {
      animation: .2s reply-dropdown ease;
      animation-fill-mode: forwards;
    }
    &.reply-dropUp {
      animation: .2s reply-dropup ease;
      animation-fill-mode: forwards;
    }
    .left {
      width: 90%;

      .comment-input {
        padding: 20px 15px;
        box-sizing: border-box;

        .comment-name {
          font-size: 16px;
          color: #5e5e5e;
        }

        input {
          padding: 0;
          display: block;
          border-radius: 0;
          margin-top: 5px;
          box-sizing: border-box;
        }
      }
    }

    .right {
      width: 10%;

      button {
        background: #8d8da1;
        width: 100%;
        height: 100%;
        display: block;
        font-size: $middleFontSize;
        color: #fff;

        &:active {
          background: #616173;
        }
      }
    }
  }


  .comments-controll-btn {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    span {
      display: block;
    }

    button {
      margin-left: 15px;
      padding: 10px 10px;
      height: 100%;
      border-radius: 15px;
      box-shadow: 5px 5px 10px #f2f2f2;
      background: blue;
      color: #fff;
    }

    &:hover {
      top: -2px;
    }
  }



  .comments-component {
    width: 100%;
    //border-bottom: solid 1px black;
    &:nth-child(1){margin-top: 0}
    padding: 15px 10px 0 10px;
    margin-top: 15px;
    border-top: 1px solid #ddd;
    transition: .2s;
    position: relative;

    /*.reply-line {
      position: absolute;
      width: 2px;
      height: 100%;
      background: #000;
      left: 0;
      top:0;
    }*/

    background: no-repeat;
    background-size: 15px auto;
    &.reply{
      padding-left: 60px;
      //background-image: url(../../images/reply-icon.svg);
      background-position: 35px 15px;

    }
    &.reply-reply{
      padding-left: 120px;
      background-position: 95px 15px;
    }

    .comment-info {
      .name {
        font-size: 16px;
        font-weight: 600;
      }
    }

    .comment{
      margin-top: 15px;
      &.del {
        margin-top: 0;
        color:#ddd;
      }
    }
    .comment-info-btn{
      margin-top: 8px;
      font-size: 12px;
      color: #464646;
      display: flex;
      align-items: center;

      span{
        display: block;
        margin-left: 7px;
        &:nth-child(1) {margin-left: 0}
      }

      .regdate {

      }
      .reply{
        background: #ddd;
        border-radius: 3px;
        padding: 2px 4px;
        &:hover{cursor: pointer}
        &:active{background: #bbbbbb
        }
      }
      .delete{
        &:hover{cursor: pointer}
      }
    }

  /*.step {
    width: 10%;
    height: 100px;
  }

  .out-of-step {
    width: auto;
    height: 100px;

    p {
      width: 100%;
      height: 80%;
      padding: 5px 5px;
    }

    .comment-info {
      width: 100%;
      height: 20%;
      margin-bottom: 15px;

      .name {
        margin-right: 5px;
      }

      .regdate {
        margin-left: 5px;
      }

      .comment-info-btn {
        float: right;

        .reply {
          margin-right: 10px;
          cursor: pointer;
        }

        .delete {
          cursor: pointer
        }
      }
    }
  }*/


}

}

