@charset "UTF-8";

/*body {
    font-family: 'Noto Sans KR', sans-serif;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}*/
a {color: #000; text-decoration: none;}
a:hover {color: #000;}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}

ol, ul {
    padding-left: 0;
}


.clearfix::after, .clearfix::before {content: ""; display: block; line-height: 0;}
.clearfix::after {clear: both;}

/*button{
    background: inherit ; 
    border:none; 
    box-shadow:none; 
    border-radius:0; 
    padding:0; 
    overflow:visible; 
    cursor:pointer
} */
.title-font{font-size: 38px; font-weight: 500;}
.sub-title-font{font-size: 32px; font-weight: 500;}
#menu-part::after, #menu-part::before{box-sizing: border-box;}
*{-webkit-user-drag: none;}
#modal-background{
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.328);
    position: fixed;
    z-index: 100;
    display: none;
}

#header-wrap {
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 60;
    font-family: 'Noto Sans KR', sans-serif;
    /* -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
    transition-duration:0.4s;
    transition-timing-function:ease; */
}

#header-wrap .header-slide-down{
    position: absolute;
    left:0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    top: -100%;
    transition-duration:0.4s;
    -webkit-transition-duration:0.4s;
}#header-wrap .header-slide-down.down{top:0;}

#header{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}

#logo{
    width: 200px;
    height: 54px;
    line-height: 20px;
    margin-top: 16px;
    float: left;
}
#logo img{height: 100%;}
#header-right{
    font-size: 26px;
    height: 50px;
    line-height: 50px;
    margin-top: 15px;
    float: right;
}
#header-right a:nth-child(2) {margin-left: 30px}

#header-right a{
    display: block;
    position: relative;
    float: left;
    overflow: hidden;
}


#header-right .line{
    width: 20%;
    position: absolute;
    left:-20%;
    top: 50%;
    height:1px;
    background: #000;
    transition: 0.3s;
}#header-right .line.on{left:0;}
#header-right .hover-text{
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: -66px;
    transform: translateY(-50%);
    transition: 0.3s;
}#header-right .hover-text.on{right:0;}




/* aside 관련 */
#nav-bar{
    width: 30px;
    height : 100%;
    /* background-color: red; */
    top: 0;
    position: fixed;
    z-index: 101;
}

/* 왼쪽 aside */
#fixed-wrap aside.left {
    left: -300px;
    width: 330px;
}

#menu-part{
    float: left;
    width: 300px;
    height: 100%;
    padding: 50px 30px;
    background: #000;
    box-sizing: border-box;

    nav{
        > ul > li{
            font-size: 28px;
            margin-top: 20px;
            opacity: 0.6;

            &.on{opacity: 1;}
            > a{color: #fff;}

            &:nth-child(1) {margin-top: 0}
        }

        .sub-nav{
            display: none;

            li {
                opacity: 0.6;
                &.on{opacity: 1;}
            }

            a{
                color: #fff;
                font-size: 16px;
            }
        }
    }



    .sub-link{
        width: 100%;
        background: #1F1F1F;
        margin-top: 40px;
        border-radius: 10px;
        color: #fff;
        padding: 10px 15px;
    }
}

#side-btn{
    float: left;
    display: block;
    width: 30px;
    height: 100%;
    font-size: 40px;
    position: relative;
    box-sizing: inherit;

    div{
        width: 0;
        height: 100%;
        position:absolute;
        left:0;
        top:0;
        background:#000;
        transition: 0.5s;
    }

    .fa-solid {
        color:#000;
        position: absolute;
        z-index: 40;
        display: block;
        top: 50%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        transition: 0.5s;
    }


    &:hover{
        div {
            width: 100%;
        }
        .fa-solid {
            color: #fff;
        }
    }
}
/* 왼쪽 aside */
/* 왼쪽 aside */
/* 왼쪽 aside */