$webWidth: 1200px;
$mobileWidth: 768px;

$superBigFontSize: 34px;
$bigFontSize: 26px;
$middleFontSize: 22px;

$card-bar-radius: 20px;


@keyframes hoverSlide {
  from {
    color: #000;
  }

  to {
    color: #fff;
  }
}